html,body,.mui-content{
    background-color: rgb(244, 247, 229);
    height: 100%;
    width: 100%;
}
div{
    border: 2px #003cff dotted;
    padding: 2px;
}
.mui-content{
    margin:5px;
}
.main{
    height: 50%;
    width: 90%;
    border: 1px red dotted;
    /* 水平居中 */
    margin: 0 auto;
    /* 文字居中 */
    text-align: center;
    /* 垂直居中 */
    display:flex;
    align-items: center;
}