<!DOCTYPE html>
<html lang="utf-8">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title></title>
		<script src="{{static_url('js/mui.min.js')}}"></script>
		<script src="{{static_url('js/jquery.min.js')}}"></script>
		<link href="{{static_url('css/mui.min.css')}}" rel="stylesheet">
		<link rel="stylesheet" href="{{static_url('css/site.css')}}">
	</head>
	<body>
		{% include ./menu.html %}
		<script>
			mui.toast("Welcome ...........")
		</script>

		<form class ="mui-content" action="/form" method="post">
			<div class="mui-content">
				<label style="font-size: 24px;">基本資料</label>
				<div class="mui-col-sm-5">
					<div class="mui-input-row">
						<label for="username">NAME</label>
						<input type="text" name="username" placeholder = "輸入姓名"/>
					</div>
					<div class="mui-input-row">
						<label for="userpassword">PWD</label>
						<input type="password" name="userpassword"/><br/>
					</div>			
					<div class="mui-input-row">
						<div class="mui-col-sm-5" style="float: left;">
							AREA:
								<select name="YourLocation">
									　<option value="Taipei">台北</option>
									　<option value="Taoyuan">桃園</option>
									　<option value="Hsinchu">新竹</option>
									　<option value="Miaoli">苗栗</option>
								</select>
						</div>
						<div class="mui-col-sm-5" style="float: left;">
							AREA:
								<select name="YourLocation1">
									　<option value="Taipei">AA</option>
									　<option value="Taoyuan">BB</option>
									　<option value="Hsinchu">CC</option>
									　<option value="Miaoli">DD</option>
								</select>
						</div>	
					</div>		

					<!-- RADIO -->
					<label for="sex">SEX</label> 
						<input type="radio" id="m" name="sex" value="m" checked><label for="m">M</label>
						<input type="radio" id="f" name="sex" value="f"><label for="f">F</label><br/>

					<!-- CHECKBOX -->
					<label for="hobby">Hobby</label>
						<input type="checkbox" value="power" name="hobby"/> Power
						<input type="checkbox" value="money" name="hobby"/> Money
						<input type="checkbox" value="girl" name="hobby" /> Girl <hr />

					<input type="submit" value="Submit"/>
				</div>
			</div>
		</form>
	</body>
</html>