<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">	
	<title>Home</title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
	<div class="navbar-header">
		<a class="navbar-brand" href="#">主選單</a>
	</div>
	<div>
		<ul class="nav navbar-nav">
			<li><a href="#">iOS</a></li>
			<li><a href="#">SVN</a></li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					Tornado
					<b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li><a href="/">/</a></li>
					<li><a href="/form">form</a></li>
					<li><a href="/upfile">upfile</a></li>
					<li><a href="/requestinfo">requestinfo</a></li>
					<li><a href="/template">template</a></li>
					<li><a href="/templatesub">template sub</a></li>
					<li><a href="/transvalue">傳遞參數</a></li>
					<li class="divider"></li>
					<li><a href="/function">function</a></li>					
					<li><a href="#">分离的链接</a></li>
					<li class="divider"></li>
					<li><a href="/mobirise">Mobirise</a></li>
				</ul>
			</li>
		</ul>
	</div>
	</div>
</nav>
</body>
</html>