<!DOCTYPE html>
<html lang="utf-8">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title></title>
		<script src="{{static_url('js/mui.min.js')}}"></script>
		<script src="{{static_url('js/jquery.min.js')}}"></script>
		<link href="{{static_url('css/mui.min.css')}}" rel="stylesheet">
		<link rel="stylesheet" href="{{static_url('css/site.css')}}">
		<style>
			html,body,.mui-content{
				background-color: rgb(244, 247, 229);
				height: 100%;
				width: 100%;
			}
			div{
				/* border: 2px yellow dotted; */
				padding: 2px;
			}
			.mui-content{
				margin:5px;
			}
			.main{
				height: 50%;
				width: 90%;
				border: 1px red dotted;
				/* 水平居中 */
				margin: 0 auto;
				/* 文字居中 */
				text-align: center;
				/* 垂直居中 */
				display:flex;
				align-items: center;
			}
		</style>
	</head>
	<body>
		{% include ./menu.html %}
		<script>
			mui.toast("Welcome ...........")
		</script>

		<form class ="mui-content" action="/query" method="post">
			<div class="mui-content">
				<label style="font-size: 24px;">Query資料</label>
				<div class="mui-col-sm-5">
					<div class="mui-input-row">
						<div class="mui-col-sm-5" style="float: left;">
							AREA:
								<select name="YourLocation">
									　<option value="Taipei">台北</option>
									　<option value="Taoyuan">桃園</option>
									　<option value="Hsinchu">新竹</option>
									　<option value="Miaoli">苗栗</option>
								</select>
						</div>
					</div>		
				<input type="submit" value="Submit"/>
				</div>
			</div>
		</form>
	</body>
</html>