<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- 下面是相同的功能 -->
    <link rel="stylesheet" href="{{static_url('css/index.css')}}"/>
    <!-- <link rel="stylesheet" href="static/css/index.css"/> -->
    <script src="static/js/index.js"></script>

	<script src="https://cdn.bootcdn.net/ajax/libs/mui/3.7.1/js/mui.min.js"></script>
	<link href="https://cdn.bootcdn.net/ajax/libs/mui/3.7.1/css/mui.min.css" rel="stylesheet">    
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
	{% include ./menu.html %}        
    <h1>Test Page 傳遞參數</h1>
    <!-- PS. 被傳送過來的參數值不能被改變  -->
    the num is : {{num}}
    <hr>
    i make a new value num1 : {{num1 = num +100}}
    <hr>
    傳遞參數方法一 :<br/>
    {{mydata1["name"]}} | {{mydata1["age"]}}
    <hr>
    傳遞參數方法二 :<br/>
     {{age}} || {{name}}

     <hr>
     <hr>
     流程控制
     {% if color == 0 %}
     <h2 style="color:red">Flag is red</h2>
     {%else%}
     <h2 style="color:blue">Flag not red</h2>
     {%end%}

     <hr>
     <hr>
     迴圈控制
     <ol>
        {%for row in table%}
            <li>{{row["name"]}} | {{row["age"]}}</li>
        {%end%}
     </ol>
     <testCSS>
         測試css有沒有被呼叫
         (有變色就代表被呼叫)
         (自定義標籤 testCSS )
     </testCSS>
     <script>
         myalert("測試js有沒有被呼叫")
     </script>
</body>
</html>